*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Mukta', sans-serif;
  color: #181818;
  background-color: whitesmoke;
  font-size: 1rem;
  line-height: 1.8;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
ul,
dl,
dd,
dt,
article,
figure,
footer,
p {
  margin: 0;
}

/* Typography */
h1 {
  color: #F0FF42;
  text-shadow: 2px 2px 7px black;
  font-size: 3rem;
}

h2,
h5 {
  color: mintcream;
  text-shadow: 0 0 5px black;
}

dt {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.author img {
  margin: 0 auto;
  border-radius: 4px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

aside ul {
  padding: 0;
}

blockquote {
  padding: .5em;
}

/* Utilities */
.container {
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
}

.box {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid gray;
  padding: .5em 1em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.d-flex {
  display: flex;
  gap: 22px;
}

.text-center {
  text-align: center;
}

/* Header */
header {
  background-image: url('images/leigh-skomal-kMEeK6-Zu2Q-unsplash.jpg');
  background-color: #285430;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4em;
  margin-bottom: .5rem;
}

/* Sections*/
blockquote {
  flex: 4;
  font-size: 1.3rem;
}

.cite {
  font-size: 1.3rem;
  border-radius: 9px;
}

.flex-item-blog {
  background-color: #E5D9B6;
}

.flex-item-tip {
  background-color: #A4BE7B;
}

.flex-item-make {
  background-color: #FFF38C;

}

.flex-item-home {
  background-color: #B2B2B2;
}

.flex-item-dressing {
  background-color: #5BC0F8;
}

.flex-item-acids {
  background-color: #DBA39A;
}

.flex-item-sweet {
  background-color: #9F73AB;
}

.flex-item-spice {
  background-color: #c36c6c;
}

aside {
  background-color: #00ABB3;
  padding: 0 2em;
}

blockquote {
  background-color: #FFC069;
}

.blog-body-2 {
  background-color: #3f3a3a;
  justify-content: space-around;
}


/* Footer */
footer {
  background-color: #243D25;
  color: #DFE8CC;
  font-size: .9rem;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  margin-top: 2em;
}

footer div {
  flex: 1;
}

footer div:last-child {
  flex:3;
  border-left: 1px solid #F0FF42;
  padding-left: 10px;
}

.footer-links {
  display: flex;
  gap: 3em;
}

.footer-links li {
  font-size: 2rem;
}

address {
  border-right: 1px solid #F0FF42;
  padding-right: 10px;
}

/* Media Queries */
@media (min-width: 52em) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4 {
    font-size: 2rem;
    line-height: 1.5;
  }

  h5 {
    font-size: 1.7rem;
  }

  header {
    padding: 10.5em;
  }
}

@media (max-width: 70em) {
  .sub-wrapper {
    display: grid;
  }

  .sub-wrapper div:last-child {
    flex-direction: row;
  }
}

@media (max-width: 41em) {
  blockquote {
    font-size: 1rem;
  }

  .cite {
    font-size: .65rem;
  }

  .sub-wrapper div:last-child,
  main section:last-child {
    flex-direction: column;
  }

  footer {
    font-size: .6rem;
    align-items: start;
    gap: 10px;
  }

  .footer-links {
    font-size: .6rem;
    padding-left: 0;
  }
}

@media (max-width: 31.75em) {
  footer {
    flex-wrap: wrap;
  }
}